/* FONT-SIZE SYSTEM */
/* 
48.83px, 39.06px, 31.25px, 25.00px, 20.00px, 16.00px, 12.80px, 10.24px
*/

/* SPACE SYSTEM */

/* 
16px, 24px, 32px, 40px, 48px, 64px, 72px, 80px, 96px, 112px, 128px, 144px
*/

/* COLOR  */
/* 

MAIN - #1864ab

TEXT - #343a40
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "lato", Arial, Helvetica, sans-serif;
  color: #343a40;
  font-size: 16px;
}

/* HEADINGS */
h1 {
  font-size: 31.25px;
}

h3 {
  font-size: 20px;
  line-height: 1.3;
}
/* MAIN HEADER */
.main-header {
  display: grid;
  align-items: center;
  justify-items: space-between;
}

.nav-bar-box {
  background-color: #1864ab;
  margin-bottom: 48px;
}

.nav-bar {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 20px;
}

.nav-bar-links:link,
.nav-bar-links:visited {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.nav-bar-links:hover,
.nav-bar-links:active {
  font-weight: bold;
}

.active {
  font-weight: bold;
}

/* ABOUT PARK */

.about-park__title {
  font-size: 25px;
  line-height: 1.3;
  letter-spacing: -1px;
}

/* PARK OFFERING */

.park-offering__box p {
  font-size: 16px;
  line-height: 1.7;
}

/* PARK REVIEW */

.park-review__rating {
  font-weight: 700;
  font-size: 20px;
}

/* -------------------------- Rides.html -------------------- */

.rides-carousel {
  display: flex;
  list-style: none;
  /* gap: 40px; */
  margin-bottom: 48px;
  justify-content: center;
}

.rides-carousel-link:link,
.rides-carousel-link:visited {
  text-decoration: none;
  color: #fff;
  padding: 10px 30px;
  background: #1864ab;
  transition: background-color 100ms, color 100ms;
}

.rides-carousel-link:hover,
.rides-carousel-link:active {
  background-color: #fff;
  color: #1864ab;
}

/* .rides-carousel-list {
  padding: 10px 30px;
} */
